@model ProjetoInterclasse.Models.Chaveamento

<h2>Cadastro de Chaveamento</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.IdPartida)
        @Html.TextBoxFor(m => m.IdPartida)
    </div>
    <div>
        @Html.LabelFor(m => m.IdChave)
        @Html.TextBoxFor(m => m.IdChave)
    </div>
    <div>
        @Html.LabelFor(m => m.Fase)
        @Html.TextBoxFor(m => m.Fase)
    </div>
    <div>
        @Html.LabelFor(m => m.Time1)
        @Html.TextBoxFor(m => m.Time1)
    </div>
    <div>
        @Html.LabelFor(m => m.Time2)
        @Html.TextBoxFor(m => m.Time2)
    </div>
    <button type="submit">Cadastrar</button>
}