@model ProjetoInterclasse.Models.Classificacao

<h2>Cadastro de Classificação</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.IdTime)
        @Html.TextBoxFor(m => m.IdTime)
    </div>
    <div>
        @Html.LabelFor(m => m.IdModalidade)
        @Html.TextBoxFor(m => m.IdModalidade)
    </div>
    <div>
        @Html.LabelFor(m => m.CartaoAmarelo)
        @Html.TextBoxFor(m => m.CartaoAmarelo)
    </div>
    <div>
        @Html.LabelFor(m => m.CartaoVermelho)
        @Html.TextBoxFor(m => m.CartaoVermelho)
    </div>
    <div>
        @Html.LabelFor(m => m.GolsMarcados)
        @Html.TextBoxFor(m => m.GolsMarcados)
    </div>
    <div>
        @Html.LabelFor(m => m.GolsSofridos)
        @Html.TextBoxFor(m => m.GolsSofridos)
    </div>
    <div>
        @Html.LabelFor(m => m.SaldoGols)
        @Html.TextBoxFor(m => m.SaldoGols)
    </div>
    <div>
        @Html.LabelFor(m => m.StatusTime)
        @Html.TextBoxFor(m => m.StatusTime)
    </div>
    <div>
        @Html.LabelFor(m => m.Pontos)
        @Html.TextBoxFor(m => m.Pontos)
    </div>
    <div>
        @Html.LabelFor(m => m.Grupo)
        @Html.TextBoxFor(m => m.Grupo)
    </div>
    <button type="submit">Cadastrar</button>
}
