@model ProjetoInterclasse.Models.Partida

<h2>Cadastro de Partida</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.IdPartida)
        @Html.TextBoxFor(m => m.IdPartida)
    </div>
    <div>
        @Html.LabelFor(m => m.Placar)
        @Html.TextBoxFor(m => m.Placar)
    </div>
    <div>
        @Html.LabelFor(m => m.HorarioDia)
        @Html.TextBoxFor(m => m.HorarioDia, "{0:yyyy-MM-ddTHH:mm}", new { type = "datetime-local" })
    </div>
    <div>
        @Html.LabelFor(m => m.Descricao)
        @Html.TextBoxFor(m => m.Descricao)
    </div>
    <div>
        @Html.LabelFor(m => m.AulaOcorrida)
        @Html.TextBoxFor(m => m.AulaOcorrida) 
    </div>
    <button type="submit">Cadastrar</button>
}